@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, forest;
}

[data-theme="light"] {
  --color-primary: oklch(68.628% 0.185 148.958);
  --color-primary-content: oklch(0% 0 0);
  --color-secondary: oklch(69.776% 0.135 168.327);
  --color-secondary-content: oklch(13.955% 0.027 168.327);
  --color-accent: oklch(70.628% 0.119 185.713);
  --color-accent-content: oklch(14.125% 0.023 185.713);
  --radius-selector: 1rem;
  --radius-field: 2rem;
  --radius-box: 1rem;
}
